 <div id="site_footer" style="font-size:10px;margin-top:25px;">
    	<div style="width:450px;margin:auto;font-weight:900;color:#666666;margin-top:25px">
        	<div style="width:150px;float:left;margin:auto;text-align:center"><a href="homepage.php">home </a></div>
            <div style="width:150px;float:left;margin:auto;text-align:center"><a href="about-us.php">about us</a> </div>
            <div style="width:150px;float:left;margin:auto;text-align:center"><a href="contact-us.php">contact us</a> </div>
		</div>
        <div style="clear:both"></div>
        <div style="position:relative;top:15px;width:450px;margin:auto;text-align:center;color:#999999;clear:both">
			<!--
        	A registered education centre with Ministry of Education
            -->
            <br/>
		</div>
        <div style="width:450px;margin:auto;text-align:center;color:#999999;margin-top:25px">
			<strong>a creative work of dalmatian design studio</strong>
            <br/>
		</div>
<br/>
    </div>