  	
    <div id="navi_group">
       <div style="position:absolute;top:-50px;left:390px">
        <a href="http://www.facebook.com/pages/My-Towns-Tutor-EduCentre/147905348650133" style="text-decoration:none">
       	<img src="images/facebook_logo.png" width="24px" border="0px"/>
       </a>
       <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMy-Towns-Tutor-EduCentre%2F147905348650133&amp;send=false&amp;layout=standard&amp;width=150px&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=302316559781664" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:24px;" allowTransparency="true"></iframe>
      
       </div>
            <div class="menu-primary">
                                <table>
                                    <tr>
                                        <td class="menu">
                                            <ul>
                                                <li><a type='cufon' href="about-us.php">about us</a></li>
                                     
                                                <li>
                                                    <a type='cufon'  href="about-centre.php">education centre</a>
                                                  		<ul>
                                                            <li>
                                                                <a type='cufon' href="about-centre.php">about</a>
                                                            </li>
                                                            <li>
                                                                <a type='cufon' href="programmes.php">programmes</a>
                                                            </li>
                                                            <li>
                                                                <a type='cufon' href="events.php">events</a>
                                                            </li>
                                                             <li>
                                                                <a type='cufon' href="faq.php?faq_type=1">faq</a>
                                                            </li>
                                                            <li>
                                                                <a type='cufon' href="centre-register.php?faq_type=1">registration</a>
                                                            </li>
                                                        </ul>
                                                </li>
                                                <li><a type='cufon'  href="#">home tuition</a>
                                                	<ul>
                                                    		<li>
                                                                <a type='cufon' href="about-home-tuition.php">about</a>
                                                            </li>
                                                            <li>
                                                                <a type='cufon' href="home-tuition.php?type=primary">home tution<span class="icon" id="arr1"><img src="images/arrow.png" border="0"/></span></a>
                                                                 <ul id="sub1">
                                                                	<li><a type='cufon' href="home-tuition.php?type=primary">primary</a></li>
                                                                    <li><a type='cufon' href="home-tuition.php?type=secondary">secondary</a></li>
                                                                    <li><a type='cufon' href="home-tuition.php?type=tertiary">tertiary</a></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a type='cufon' href="tutor-request.php">request <span style="font-size:9px">for tutor</span></a>
                                                            </li>
                                                             <li>
                                                                <a type='cufon' href="tutor-register.php">register <span style="font-size:9px">as tutor</span></a>
                                                            </li>
                                                             <li>
                                                                <a type='cufon' href="#">faq<span class="icon" id="arr2"><img src="images/arrow.png" border="0"/></span></a>
                                                                <ul id="sub2">
                                                                	<li><a type='cufon' href="faq.php?faq_type=2">parent</a></li>
                                                                    <li><a type='cufon' href="faq.php?faq_type=3">tutor</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                
                                                </li>
                                                <li>
                                                    <a type='cufon'  href="contact-us.php">contact us</a>
                                                </li>
                                           
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                                <script>
                    
								
                                </script>
                            <!-- END .menu-primary -->
                            </div>
        </div>    