<ul id="nav">
	<!--
    <li class="i_book" ><a  href="../user/edit.php" active="media"><span>User</span></a>
    -->
    <li class="i_book" ><a  active="atm_point"><span>ATM Point</span></a>
        <ul>
        	<li class="i_table"><a href="../atm/list.php?active=atm_point"><span>List ATM Point</span></a></li>
            <li class="i_table"><a href="../atm/new.php?active=atm_point"><span>Add ATM Point</span></a></li>
        </ul>
    </li>
   <!--
   <li class="i_book" ><a active="news"><span>Page</span></a>
        <ul>
 			<li class="i_table"><a href="../news/list.php?active=news"><span>Manage Page</span></a></li>
            <li class="i_table"><a href="../news/new.php?active=news"><span>Add Page</span></a></li>
        </ul>
   </li>
   <li class="i_book" ><a  active="faq"><span>Faq</span></a>
        <ul>
        	<li class="i_table"><a href="../faq/list.php?active=faq"><span>Manage FAQ</span></a></li>
            
            <li class="i_table"><a href="../faq/new.php?active=faq"><span>Add FAQ</span></a></li>
        </ul>
    </li>
    <li class="i_calendar_day" ><a  active="schedule"><span>Schedule</span></a>
        <ul>
        	<li class="i_calendar_day"><a href="../schedule/list.php?active=schedule"><span>Manage Schedule</span></a></li>
            <li class="i_calendar_day"><a href="../schedule/new.php?active=schedule"><span>Add Schedule</span></a></li>
        </ul>
   </li>
   <li class="i_book" ><a  href="../media/list.php?active=media" active="media"><span>Media</span></a>
   <li class="i_book" ><a  active="banner"><span>Banner</span></a>
   		 <ul>
            <li class="i_table"><a href="../banner/list.php?active=banner&news_id=1"><span>About Us</span></a></li>
            <li class="i_table"><a href="../banner/list.php?active=banner&news_id=2"><span>About Centre</span></a></li>
            <li class="i_table"><a href="../banner/list.php?active=banner&news_id=6"><span>About Home Tuition</span></a></li>
            <li class="i_table"><a href="../banner/list.php?active=banner&news_id=3"><span>Programmes</span></a></li>
            <li class="i_table"><a href="../banner/list.php?active=banner&news_id=4"><span>Event</span></a></li>
            
			<!--           
            <li class="i_table"><a href="../banner/new.php?active=banner"><span>Add Banner</span></a></li>
			
            
        </ul>
   </li>
   -->  
</ul>